/* blue: #07cdb2; red: #f5324a; yellow: #fab50f; white*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

p {
  font-family: "Century Gothic";
}
body {
  margin: 0vw;
  background-color: #07cdb2;
  outline: none;
  height: 100%;
}
.main{
  padding: 0% 3% 3% 3%;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 2vh;
  grid-column-gap: 2vw;
  font-family: "Century Gothic"
}
.mainborder {
  border-top: 1.5vh solid #fff;
  border-bottom: 1.5vh solid #fff;
}
.sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: #cf293e;
  overflow-x: hidden;
  padding-top: 8vh;
  transition: 0.5s;
  font-family: "Century Gothic";
}
.sidebar a{
  padding: 0vw 0vw 2vw 2vw;
  text-decoration: none;
  font-size: 2vw;
  color: #fff;
  display: block;
  transition: 0.3s;
}
.sidebar a:hover{
  color: #c29ea3;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 1vw;
  font-size: 3vw;
  margin-right: 1vw;
  z-index: 2;
}
#sidebarbtn {
  position: fixed;
  right: 1vw;
  z-index: 1;
  font-size: 2vw;
}
.section {
  font-family: "Century Gothic";
  color: #fff;
  font-size: 3vw;
  margin-top: 1vh;
  margin-bottom: 0;
}
.communities {
  display: flex;
  flex-flow: row wrap;;
  background-color: #fff;
  padding: 0.5vw;
  border-radius: 2vw;
  max-width: 80%;
}
.recentskill {
  display: flex;
  flex-flow: row wrap;
  background-color: #fff;
  padding: 0.5vw;
  border-radius: 2vw;
  max-width: 80%;
}
.comicon {
  flex: 1;
  justify-content: center;
  margin: 1vw;
  padding: 1vh;
  max-width: 25%;
  max-height: 25%;
  background-color: #fab50f;
  color: #fff;
  border-radius: 1vh;
  transition: all 0.2s ease;

  box-sizing: border-box;
}
.comicon:hover {
  color: white;
  background-color: #07cdb2;
  cursor: pointer;
}
.skillicon {
  flex: 1;
  justify-content: center;
  margin: 1vw;
  padding: 1vh;
  max-width: 25%;
  max-height: 25%;
  background-color: #fab50f;
  color: #fff;
  border-radius: 1vh;
  box-sizing: border-box;
  display: none;
}
.skillicon:hover {
  color: white;
  background-color: #07cdb2;
  cursor: pointer;
}
#addSkill {
  background-color: lightgray;
  color: white;
  border-radius: 1vw;
  flex: 1;
  justify-content: center;
  margin: 1vw;
  max-width: 25%;
  max-height: 25%;
  border-radius: 1vh;
  box-sizing: border-box;
  text-align: center;
  font-weight: 900;
  font-size: 1.5vw;
  transition: all 0.2s ease;

}
#addSkill:hover {
  color: white;
  background-color: #07cdb2;
  cursor: pointer;
}
img {
  border-style: none;
  vertical-align: middle;
}
.banner {
  display: grid;
  grid-template-columns: auto auto;: #fff;
  padding-top: 2vh;
  padding-bottom: 2vh;
  background-color: #f5324a;
}
.slidecontent{
  margin: auto;
}
.slidecontent img{
  height: 50vh;
  width: 150vh;
}
.slidecontainer{
  position: relative;
  text-align: center;
}
.ccontainer: after, .ccontainer: before {
  content:none;
  display: table;
  clear:both;
}
.mySlides {
  width: 100%;
}
.caption{
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-10%, -50%);
  text-align: center;
  max-width: 35%;
  z-index: 0;
  color: white;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.4);
}
.button{
  color: #fff!important;
  background-color: transparent;
  border: none;
  padding: 2vh;
  position: relative;
  outline: none;
}
.buttonl{
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}
.buttonr{
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
}
.badge{
  height: 1vw;
  width: 1vw;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  border: 0.25vh solid;
  border-color: #fff;
  z-index: 2;
}
.bigbadge{
  padding-top: 2vh;
}
.badgecolor{
  background-color: transparent;
}
.badgewhite{
  background-color: #fff;
}

.youtube {
  background-color: #f5324a;
  width: auto;
  height: 38vh;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 2vh;
}
.youtube div{
  font-size: 2vw;
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  color: white;
  margin-top: 1vh;
  text-align:center;
  position: sticky;
  display: block;
}
.youtube iframe{
  vertical-align: central;
  padding-left: 1vw;
  padding-top: 2vh;
}
.pmodal {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  z-index: 3; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed;
}
.cmodal {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  z-index: 5; /* Sit on top */
  width: 100%; /* Full width */
  height: 131%; /* Full height */
  position: absolute;
  top: 0;


}
.pmodalf {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  z-index: 3; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  position: fixed;
}

.practice {
  background-color: white;
  margin: auto;
  width: 80vh;
  margin-top: 20vh;
  z-index: 3;
  border-radius: 1vw;
  padding-bottom: 1vw;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.title {
  text-align: center;
  font-family: CenturyGothic, Helvetica, sans-serif;
  font-size: 2vw;
  padding: 0.5vw;
  padding-bottom: 0;
}

.nav {
  font-size: 2vw;
  background-color: #FFC125;
  padding-left: 1vw;
  padding-bottom: 0.5vw;
  border-top-left-radius: 1vw;
  border-top-right-radius: 1vw;
}

i {
  border: solid white;
  border-width: 0 0.2vw 0.2vw 0;
  display: inline-block;
  padding: 0.4vw;
  cursor: pointer;
}

.close {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.closeC {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.descrp {
  background-color: lightgray;
  margin: 1vw;
  border-radius: 0.5vw;
  padding: 0.7vw;
  font-family: CenturyGothic, Helvetica, sans-serif;
  max-height: 30vh;
  overflow-y: scroll;
  content: "";
  display: table;
  clear: both;
  width: 36vw;
}
.op {
  margin-left: 10vw;
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.ops {
  background-color: #fa8072;
  width: auto;
  text-decoration: none;
  color: white;
  font-family: CenturyGothic, Helvetica, sans-serif;
  font-size: 1.2vw;
  padding: 0.7vw;
  margin-left: 3vw;
  border-radius: 0.5vw;
}
.opc {
  background-color: #fa8072;
  width: 5.5vw;
  margin-left: 16vw;
  padding: 0.5vw;
  border-radius: 0.5vw;
  text-align: center;
}
.opc a {
  text-decoration: none;
  color: white;
  font-family: CenturyGothic, Helvetica, sans-serif;
  font-size: 1.2vw;
}
.searchSkill {
  padding-left: 1.2vw;
  padding-top: 1vw;
}
.searchSkill input {
  width: 36vw;
  height: 3vh;
  font-size: 1vw;
  border: 0.1vw solid #ffc125;
  padding: 0.5vw;
  border-radius: 0.4em;
  transition: border 0.2s ease-in;
}
.searchSkill input:hover{
  border: solid 0.1em #f5324a;
  outline: none;
}
.searchResult {
  flex: 1;
  justify-content: center;
  padding: 2vh;
  margin-bottom: 1.5vh;
  margin-right: 1vw;
  max-width: 25%;
  max-height: 25%;
  background-color: #fab50f;
  color: #fff;
  border-radius: 1vh;
  box-sizing: border-box;
  float: left;
  transition: all 0.2s ease;

}

.searchResult:hover {
  color: white;
  background-color: #07cdb2;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
  position: absolute;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10em;
  position: relative;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fab50f;
  border-radius: 0.2em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fab50f;
}
