*{
    margin: 0;
    padding: 0;
    cursor: auto;
    user-select: none;
    border: 0;
    z-index: 0;

}

body{
    margin: 0;
}

nav {
    width: 100%;
    background: #f5324a;
    margin-left: 0%;
    height: 6vh;
    overflow: hidden;

}
    nav a {
        display: inline-block;
        padding: 1.5vh 0;
        text-decoration: none;
        border-right: 0.2vw solid #ffffff;
        font-size: 1.5vw;
        color: white;
        margin:0;
        height: 100%;
        padding-left: 1em;
        padding-right: 1em;
        line-height: 100%;
        font-family: CenturyGothic, Helvetica, sans-serif;
    }
    nav a:hover{
        background-color: #c41d30;
    }

    nav button{
      display: inline-block;
      font-family: CenturyGothic, Helvetica, sans-serif;
      font-size: 1.5vw;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 0.1em;
      background-color: #f5324a;
      text-decoration: none;
      color: white;
      height: 100%;
      margin: 0.19em;
      border: solid white 0.1em;
      border-radius: 1vw;
      transition: all 0.2s ease;
    }
    nav button:hover {
      border-color: #f5324a;
      color: white;
      cursor: pointer;

}

#leftNav{
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: 0;
}

#rightNav{
  display: inline-block;
  position: absolute;
  right: 0;
}
.section{
  overflow: hidden;
   height: 100vh;
   background-color: #07cdb2;
   margin-top: 2vh;
   font-family: CenturyGothic, Helvetica, sans-serif;

}

.info{
  font-family: CenturyGothic, Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size: 1.5vw;
  padding-bottom: 4vh;
  line-height: 180%;
}

#section1 img{
  float: left;
  position: relative;
  padding-top: 5vh;

  height: 40vh;
  width: 50vw;
}

#rightSec {
  position: relative;
  padding-top: 0;
  padding-right: 10vh;
  height: 100vh;
}

#section1 {
    text-align: center;
    padding-top: 20vh;
    height: 68vh;


}
#section1 p{
    font-family: CenturyGothic, Arial, Helvetica, sans-serif;
    font-size: 7vw;
    color:#ffffff;
    line-height: 100%
}
#signup {
  font-family: CenturyGothic, Helvetica, sans-serif;
  font-size: 1.5vw;
  padding: 1vw;
  margin-left: 50vw;
  background-color: #fab50f;
  text-decoration: none;
  color: white;
  border: none;
  transition: all 0.2s ease;
  border-radius: 1vw;

}
#signup:hover{
  background: #07cdb2;
  color: white;
  border: white solid 0.2em;
  cursor: pointer;

}
#section2{
  background:#fab50f;
}
#section2 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#section3 {
  text-align: center;
  align-content: center;
    background:#f5324a;
}
#section3 img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

#credit{
  height: 5vh;
  background-color: black;
  font-family: CenturyGothic, Helvetica, sans-serif;
  font-size: 1.5vh;
  text-align: center;
  color: white;
  padding: 2.5vh;
}

@font-face {
font-family: CenturyGothic;
src: url(CenturyGothic.ttf);
}
