html{
  scroll-behavior: smooth;
}

*{
  outline: none;
  margin: 0;
  padding: 0;
  cursor: auto;
  user-select: none;
  border: 0;
  z-index: 0;
  font-family: "Century Gothic", Helvetica, sans-serif;

}

body{
  margin: 0;
}

nav {
  width: 100%;
  background: #f5324a;
  margin-left: 0%;
  height: 6.5vh;
  overflow: hidden;

}
nav a {
  display: inline-block;
  padding: 1.5vh 0;
  text-decoration: none;
  border-right: 0.2vw solid #ffffff;
  font-size: 1.5vw;
  color: white;
  margin:0;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 100%;
  font-family: "Century Gothic", Helvetica, sans-serif;
  transition: all 0.2s ease-in;

}
nav a:hover{
  background-color: #c41d30;
  cursor: pointer;
}

nav button{
  display: inline-block;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 1.5vw;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.1em;
  background-color: #f5324a;
  text-decoration: none;
  color: white;
  height: 100%;
  margin: 0.19em;
  border: solid white 0.1em;
  border-radius: 1vw;
  transition: all 0.2s ease;
}
nav button:hover {
  border-color: #f5324a;
  background-color: #fff;
  color: #f5324a;
  cursor: pointer;

}

#leftNav{
  display: inline-block;
  width: 70%;
  height: 100%;
  margin: 0;
}

#rightNav{
  display: inline-block;
  position: absolute;
  right: 0;
}

.section{
  overflow: visible;
  height: 100vh;
  background-color: #07cdb2;
  margin-top: 2vh;
  font-family: "Century Gothic", Helvetica, sans-serif;

}

.info{
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  color:#ffffff;
  font-size: 1.4vw;
  padding-bottom: 4vh;
  line-height: 180%;
}

#section1 img{
  float: left;
  position: relative;
  padding-top: 5vh;

  height: 40vh;
  width: 50vw;
}

#rightSec {
  position: relative;
  padding-top: 0;
  padding-right: 10vh;
  height: 100vh;
}

#section1 {
  text-align: center;
}
#section1 p{
  font-family: "Century Gothic", Arial, Helvetica, sans-serif;
  font-size: 7vw;
  color:#ffffff;
  line-height: 100%
}
#signup {
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 1.5vw;
  padding: 1vw;
  margin-left: 50vw;
  background-color: #fab50f;
  text-decoration: none;
  color: white;
  border: none;
  transition: all 0.2s ease;
  border-radius: 1vw;

}
#signup:hover{
  background: #07cdb2;
  color: white;
  border: white solid 0.2em;
  cursor: pointer;

}
#section2{
  background:#fab50f;
  display: flex;
}
.imgrow{
  position: absolute;
  text-align: center;
  padding-top: 20vh;
}
.imgbox{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
  border-radius: 1vw;
  width: 25%;
  z-index: -1;
}
.skitpic {
  position: absolute;
  left: 0%;
  width: 20%;
  z-index: 1;
  align-self: flex-end;
}
#section3 {
  text-align: center;
  align-content: center;
  background:#f5324a;
  background-image: url("../images/skit6.png");
  background-size: 50vw;
  background-attachment: fixed;
}
.hab{
  position: absolute;
  right: 0;
  width: 60%;
  z-index: 2;
}
.sec3txt{
  padding-top: 8vh;
  color: white;
  font-size: 7vw;
  z-index: 1;
}

#credit{
  height: 5vh;
  background-color: black;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size: 1.5vh;
  text-align: center;
  color: white;
  padding: 2.5vh;
}

.stuff{
  padding-top: 3%;
}
.triangle-down {
  position:relative;
  z-index: 2;
  left: 92.3vw;
  top: 96vh;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid yellow;
  /* transition: 0.3s all; */
}



@font-face {
  font-family: CenturyGothic;
  src: url(CenturyGothic.ttf);
}
