
body {
    margin: 0;
    font-size: 2vw;
    font-family: "Century Gothic", Helvetica, sans-serif;
    background-color: #f5324a;
    overflow: hidden;
}

#nav {
    position: block;
    width: 100%;
    background: blue;
    text-align: center;
    top: 0;
}

#title {
    color: white;
    margin-top: 1vh;
    font-weight: bold;
}

.sidebarbtn {
    float: right;
    top: 1vw;
    font-size: 2vw;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

#gamebar {
    float: left;
    width: 19.5vw;
    background-color: #cf293e;
    height: 92vh;
    color: white;
    text-align: center;
    overflow: scroll;
    -ms-overflow-style: none;
    padding-top: 2vh;
}
.chatmem:hover{
  color: #eca5af;
  transition: 0.2s;
}
#gamebar div{
    margin-left: 0vw;
    left: 0;
    margin-right: 1vw;
    overflow: auto;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 2;
}
.chatmem:after{
  content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 0.2vw solid white;
    width: 50%;
}
    #gamebar img {
        width: 15vw;
        margin-top: 5vh;
        border-radius: 2vw;
        border: 0.3vw solid #ffc125;
        z-index: 2;
    }

    #gamebar::-webkit-scrollbar {
        display: none;
    }

#chatbox {
    height: 79vh;
    margin-left: 20vw;
    margin-top: 0vh;
    padding: 2vw;
    z-index: 4;
    background-color: #f0f5f4;
    width: 80%;
    align-items: flex-start;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    position: absolute;
}
.name {
    color: black;
    font-size: 1vw;
    font-weight: bolder;
    margin-left: 0.5vw;
}
.usern {
    align-self: flex-end;
    color: black;
    font-size: 1vw;
    font-weight: bolder;
    margin-left: 0.5vw;
}
.bot {
    background-color: #07cdb2;
    font-size: 1.3vw;
    padding: 0.5vw;
    align-self: flex-start;
    border-radius: 1vw;
    margin-left: 0.5vw;
    color: white;
    margin-bottom: 1vh;
}

.user {
    background-color: crimson;
    font-size: 1.3vw;
    padding: 0.5vw;
    align-self: flex-end;
    border-radius: 1vw;
    margin-left: 0.5vw;
    color: white;
    margin-bottom: 1vh;
}

#option {
    background-color: #07cdb2;
    bottom: 0;
    position: absolute;
    display: none;
    width: 80%;
    margin-left: 20%;
    font-size: 1.5vw;
    height: 15vh;
    z-index: 1;
}

    #option div {
        width: 100%;
        color: white;
        padding: 0.5vw;
        text-align: center;
    }

        #option div:hover {
            background-color: darkred;
        }

.nav {
    font-size: 2vw;
    background-color: #FFC125;
    padding-left: 1vw;
    padding-bottom: 0.5vw;
    width: 100%;
    text-align: center;
}

i {
    border: solid white;
    border-width: 0 0.2vw 0.2vw 0;
    display: inline-block;
    padding: 0.4vw;
    margin-top: 2vh;
    float: left;
}

.close {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}
#enterMessage{
    width: 85%;
    overflow: hidden;
    border-radius: 2vh;
    border: none;
    outline: none;
    margin-top: 4vh;
    margin-left: 2vw;
    padding: 1vh;
    color: #fff;
    background-color: #00917d;
}
.enterbtn{
  margin-left: 2vw;
  z-index: 3;
  background-color: #f0f5f4;
  border: none;
  padding: 1vh;
  border-radius: 2vh;
  color: #00917d;
  outline: none;
}
.enterbtn:hover{
  background-color: #00917d;
  color: #fff;
  transition: 0.2s;
}
/* width */
::-webkit-scrollbar {
  width: 0.5vw;
  position: absolute;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10em;
  position: relative;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f5324a;
  border-radius: 0.2em;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cf293e;
  transition: 0.2s;
}
