*{
    margin: 0;
    padding: 0;
    cursor: auto;
    user-select: none;
    border: 0;
    z-index: 0;
    font-family: "Century Gothic", Helvetica, sans-serif;
    overflow: hidden;
    outline: none;
}

#bar{
  width: 100%;
  height: 6vh;
  background-color: #f5324a;
}

#section{
  overflow: hidden;
  position: relative;
   height: 100vh;
   background-color: #07cdb2;
   margin-top: 2vh;
   font-family: "Century Gothic", Helvetica, sans-serif;
   text-align: center;
}

#content{
  margin-top: 5vh;
}
#signUp{
  display: inline-block;
  position: absolute;
  left: 13%;
  background-color: rgba(1,55,63,0.1);
  height: 80%;
  width: 25vw;
}


#login{
  display: inline-block;
  position: absolute;
  right: 13%;
  background-color: rgba(1,55,63,0.1);
  height: 80%;
  width: 25vw;
}
#otherlog{

  display: block;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom:0.5em;

}
#otherlog img{
  display: inline-block;
  padding: 0.4em;
  height: 15%;
  width: 15%;
  margin: 0.2em;
  border: solid white 0.2em;
  border-radius: 1vw;
  cursor: pointer;
}


#signUpBtn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.4em;
  font-size: 1.5vw;
  padding: 1vw;
  background-color: #f5324a;
  text-decoration: none;
  color: white;

  border-radius: 1vw;
}

#signUpBtn:focus{
  outline: none;
}

#wrapper{
  display: inline-block;
  position: absolute;
  right: 0;
}

h3{
  font-size: 80%;
  color: white;
  display: none;
  font-weight: normal;
}

#loginBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  padding: 1vw;
  background-color: #f5324a;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 1vw;
  position: relative;
  bottom: -0.5em;
}

.vl {
  z-index: -1;
  border-left: 0.2em solid white;
   height: 100%;
   position: absolute;
   left: 50%;
   margin-left: -3px;
   top: 0;
}

.title{

}

input{
 display: block;
 width: 10vw;
 height: 4vh;
 padding: 0.3em;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0.4em;
 border: solid 0.1em #07cdb2;
 border-radius: 0.4em;
transition: border 0.2s ease-in;
 }
input:focus{
  border: solid 0.1em #f5324a;
  outline: none;
}

button{
  display: block;
  cursor: pointer;
}

h1{
  color: white;
  font-weight: normal;
  margin:0.5em;
  margin-top: 2em;
  font-size: 6vh;
}

a{
  color: white;
  text-decoration: none;
}
a:hover{
  color: #c29ea3;
}

h6{
  color: white;
  position: absolute;
  display: inline-block;
  font-size: 4vh;
  font-weight: normal;
  padding: 0.2em;
}

/* button animation from hover.css */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fab50f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

@font-face {
font-family: CenturyGothic;
src: url(CenturyGothic.ttf);
}
