*{
    margin: 0;
    padding: 0;
    cursor: auto;
    user-select: none;
    border: 0;
    z-index: 0;
    font-family: CenturyGothic, Helvetica, sans-serif;
    overflow: hidden;
}

#bar{
  width: 100%;
  height: 6vh;
  background-color: #f5324a;
}

#section{
  overflow: hidden;
  position: relative;
   height: 100vh;
   background-color: #07cdb2;
   margin-top: 2vh;
   font-family: CenturyGothic, Helvetica, sans-serif;
   text-align: center;
}

#content{
  margin-top: 5vh;
}
#signUp{
  display: inline-block;
  position: absolute;
  left: 15%;
}

#login{
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 15%;
  height: 100%;
}
#otherlog{
  display: block;
  position: absolute;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;

}
#otherlog img{
  display: inline-block;
  padding: 0.4em;
  height: 20%;
  width: 20%;
  margin: 0.2em;
  border: solid white 0.2em;
  border-radius: 1vw;
}

#signUpBtn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-size: 1.5vw;
  padding: 1vw;
  background-color: #fab50f;
  text-decoration: none;
  color: white;

  border-radius: 1vw;
}

#wrapper{
  display: inline-block;
  position: absolute;
  right: 0;
}

#loginBtn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  padding: 1vw;
  background-color: #fab50f;
  text-decoration: none;
  color: white;
  border: none;
  border-radius: 1vw;
}

.vl {
  z-index: -1;
  border-left: 0.4em dashed white;
   height: 100%;
   position: absolute;
   left: 50%;
   margin-left: -3px;
   top: 0;
}

input{
 display: block;
 width: 50%;
 height: 4vh;
 padding: 0.3em;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 0.4em;
 border: solid 0.1em #07cdb2;
transition: border 0.2s ease-in;
 }
input:focus{
  border: solid 0.1em #f5324a;
}

button{
  display: block;
  cursor: pointer;
}

h6{
  color: white;
  position: absolute;
  display: inline-block;
  font-size: 4vh;
  font-weight: normal;
  padding: 0.2em;
}

@font-face {
font-family: CenturyGothic;
src: url(CenturyGothic.ttf);
}
